@charset "EUC-KR";
	body{
		hegiht: 100%;
		background-color: ivory;
	}
	ul 
	{
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    background-color: #333;
	}
	ul::after
	{
	    content:'';
	    display: block;
	    clear:both;
	}
	li
	{
		float: left;
	}
	li a
	{
		display: block;
		color: white;
	    text-align: center;
	    padding: 14px 16px;
	    text-decoration: none;
	}
	li a:hover:not(.active) {
    	background-color: #111;
	}
	li:nth-child(2) {
	    background-color: #4CAF50;
	}
	.container{
		width : 300px;
	    height : 350px;
	    font-family: system-ui, serif;
	    font-size: 2rem;
	    padding: 3rem;
	    padding-top : 0px;
	    border-radius: 1rem;
	    text-align: center;
	    vertical-align: text-bottom;
	    background: floralwhite;
	    border : 1px solid gray;
	}
	
	.wrapper{

		display: flex;
	  	justify-content: center;
	  	align-items: center;
	}
	
	.main_link{
		font-size:small;
	}
	thead{
		background-color : #777;
		text-align: center;
		color:white;
	}
	
	table{
		width:1000px; 
		text-align: center;
		border-top: 1px solid #444444;
		border-left:1px solid #444444;
		border-right:1px solid #444444;
		border-bottom:1px solid #444444;
    	border-collapse: collapse;
	}
	th, td {
	    border-bottom: 1px solid #444444;
	    padding: 10px;
	    text-align: center;
  }
  	table td:last-child {border-right:none;}
	table tr:last-child td {border-bottom:none;}	
	
	.btn
	{
		border-radius: 5px;
		width:70px;
		height:30px;
	}
	.btn_table{
		width:1000px; 
	}

	
	